<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NicoSoft</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .box {
            width: 150px;
            margin: 10px auto;
        }

        .box-bg {
            width: 100%;
            height: 100%;
        }

        .box-bg img {
            width: 65%;
            height: 65%;
        }

        .box-text {
            width: 65%;
        }

        .box-text h1 {
            text-align: center;
            color: #ffaa00;
        }
    </style>
</head>

<body>

    <div class="box">
        <div class="box-bg">
            <img src="../static/img/xinxin.png" alt="" />
        </div>
        <div class="box-text">
            <h1>七七</h1>
        </div>
    </div>

    <div class="box">
        <div class="box-bg">
            <img src="../static/img/meigui.png" alt="" />
        </div>
        <div class="box-text">
            <h1>夏天</h1>
        </div>
    </div>

    <div class="box">
        <div class="box-bg">
            <img src="../static/img/douyin.png" alt="" />
        </div>
        <div class="box-text">
            <h1>二郎</h1>
        </div>
    </div>

</body>
</html>