<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NicoSoft</title>
    <script
        src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arimo:700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Arimo", sans-serif;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /*=================
  * TIMER
  *=================*/
        .timer {
            width: 550px;
            height: 248px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -275px;
            margin-top: -124px;
            color: #ffaa00;
        }

        .timer * {
            cursor: default;
        }

        .timer h3 {
            width: 100%;
            font-size: 26px;
            letter-spacing: 4px;
            text-align: center;
        }

        .timer--clock {
            width: 100%;
            position: relative;
            padding-left: 6px;
            margin-top: 22px;
            overflow: hidden;
        }

        .timer--clock .clock-display-grp {
            width: 100%;
            position: relative;
        }

        .timer--clock .clock-display-grp .number-grp {
            width: auto;
            display: block;
            height: 156px;
            float: left;
            overflow: hidden;
        }

        .timer--clock .clock-display-grp .number-grp .number-grp-wrp {
            width: 100%;
            position: relative;
        }

        .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
            width: 100%;
            position: relative;
            height: 156px;
        }

        .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
            width: auto;
            display: table;
            font-size: 205px;
            line-height: 150px;
            font-weight: bold;
        }

        .timer--clock .clock-separator {
            width: auto;
            float: left;
            display: block;
            height: 156px;
        }

        .timer--clock .clock-separator p {
            width: auto;
            display: table;
            font-size: 205px;
            line-height: 150px;
            font-weight: bold;
        }

        .timer h4 {
            width: 100%;
            font-size: 10px;
            letter-spacing: 6px;
            text-align: center;
            padding-top: 25px;
            float: left;
        }
    </style>

    <script>
        window.console = window.console || function (t) { };
    </script>



</head>

<body translate="no">
    <div class="timer" style="opacity: 1;">
        <div class="timer--clock">
            <div class="minutes-group clock-display-grp">
                <div class="first number-grp">
                    <div class="number-grp-wrp" style="transform: translate3d(0px, -156px, 0px);">
                        <div class="num num-0">
                            <p>0</p>
                        </div>
                        <div class="num num-1">
                            <p>1</p>
                        </div>
                        <div class="num num-2">
                            <p>2</p>
                        </div>
                        <div class="num num-3">
                            <p>3</p>
                        </div>
                        <div class="num num-4">
                            <p>4</p>
                        </div>
                        <div class="num num-5">
                            <p>5</p>
                        </div>
                        <div class="num num-6">
                            <p>6</p>
                        </div>
                        <div class="num num-7">
                            <p>7</p>
                        </div>
                        <div class="num num-8">
                            <p>8</p>
                        </div>
                        <div class="num num-9">
                            <p>9</p>
                        </div>
                    </div>
                </div>
                <div class="second number-grp">
                    <div class="number-grp-wrp" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="num num-0">
                            <p>0</p>
                        </div>
                        <div class="num num-1">
                            <p>1</p>
                        </div>
                        <div class="num num-2">
                            <p>2</p>
                        </div>
                        <div class="num num-3">
                            <p>3</p>
                        </div>
                        <div class="num num-4">
                            <p>4</p>
                        </div>
                        <div class="num num-5">
                            <p>5</p>
                        </div>
                        <div class="num num-6">
                            <p>6</p>
                        </div>
                        <div class="num num-7">
                            <p>7</p>
                        </div>
                        <div class="num num-8">
                            <p>8</p>
                        </div>
                        <div class="num num-9">
                            <p>9</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clock-separator">
                <p>:</p>
            </div>
            <div class="seconds-group clock-display-grp">
                <div class="first number-grp">
                    <div class="number-grp-wrp" style="transform: translate3d(0px, -780px, 0px);">
                        <div class="num num-0">
                            <p>0</p>
                        </div>
                        <div class="num num-1">
                            <p>1</p>
                        </div>
                        <div class="num num-2">
                            <p>2</p>
                        </div>
                        <div class="num num-3">
                            <p>3</p>
                        </div>
                        <div class="num num-4">
                            <p>4</p>
                        </div>
                        <div class="num num-5">
                            <p>5</p>
                        </div>
                        <div class="num num-6">
                            <p>6</p>
                        </div>
                        <div class="num num-7">
                            <p>7</p>
                        </div>
                        <div class="num num-8">
                            <p>8</p>
                        </div>
                        <div class="num num-9">
                            <p>9</p>
                        </div>
                    </div>
                </div>
                <div class="second number-grp">
                    <div class="number-grp-wrp" style="transform: translate3d(0px, -225.33px, 0px);">
                        <div class="num num-0">
                            <p>0</p>
                        </div>
                        <div class="num num-1">
                            <p>1</p>
                        </div>
                        <div class="num num-2">
                            <p>2</p>
                        </div>
                        <div class="num num-3">
                            <p>3</p>
                        </div>
                        <div class="num num-4">
                            <p>4</p>
                        </div>
                        <div class="num num-5">
                            <p>5</p>
                        </div>
                        <div class="num num-6">
                            <p>6</p>
                        </div>
                        <div class="num num-7">
                            <p>7</p>
                        </div>
                        <div class="num num-8">
                            <p>8</p>
                        </div>
                        <div class="num num-9">
                            <p>9</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script id="rendered-js">
        TweenLite.defaultEase = Expo.easeOut;

        initTimer({{ .cd }});

        var timerEl = document.querySelector('.timer');

        function initTimer(t) {

            var self = this,
                timerEl = document.querySelector('.timer'),
                minutesGroupEl = timerEl.querySelector('.minutes-group'),
                secondsGroupEl = timerEl.querySelector('.seconds-group'),

                minutesGroup = {
                    firstNum: minutesGroupEl.querySelector('.first'),
                    secondNum: minutesGroupEl.querySelector('.second')
                },

                secondsGroup = {
                    firstNum: secondsGroupEl.querySelector('.first'),
                    secondNum: secondsGroupEl.querySelector('.second')
                };

            var time = {
                min: t.split(':')[0],
                sec: t.split(':')[1]
            };


            var timeNumbers;

            function updateTimer() {
                var timestr;
                var date = new Date();

                date.setHours(0);
                date.setMinutes(time.min);
                date.setSeconds(time.sec);

                var newDate = new Date(date.valueOf() - 1000);
                var temp = newDate.toTimeString().split(" ");
                var tempsplit = temp[0].split(':');

                time.min = tempsplit[1];
                time.sec = tempsplit[2];

                timestr = time.min + time.sec;
                timeNumbers = timestr.split('');
                updateTimerDisplay(timeNumbers);

                if (timestr === '0000')
                    countdownFinished();

                if (timestr != '0000')
                    setTimeout(updateTimer, 1000);
            }

            function updateTimerDisplay(arr) {
                animateNum(minutesGroup.firstNum, arr[0]);
                animateNum(minutesGroup.secondNum, arr[1]);
                animateNum(secondsGroup.firstNum, arr[2]);
                animateNum(secondsGroup.secondNum, arr[3]);
            }

            function animateNum(group, arrayValue) {
                TweenMax.killTweensOf(group.querySelector('.number-grp-wrp'));
                TweenMax.to(group.querySelector('.number-grp-wrp'), 1, {
                    y: -group.querySelector('.num-' + arrayValue).offsetTop
                });
            }
            setTimeout(updateTimer, 1000);
        }

        function countdownFinished() {
            setTimeout(function () {
                TweenMax.to(timerEl, 1, { opacity: 0.2 });
            }, 1000);
        }
        //# sourceURL=pen.js
    </script>

</body>

</html>